<!-- Start Breadcrumbs -->
<app-breadcrumbs title="List View" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<app-hdnx-loading [show]="isLoading">
    <div class="row">
        @for (data of supportList; track $index) {
        <div class="col-lg-3">
            <div class="card file-manager-widgets" style="background-size: 95px;background-position:right bottom;">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-grow-1">
                            <div class="avatar-sm">
                                <div class="avatar-title bg-{{data.imgBg}}-subtle text-{{data.imgBg}} rounded fs-xl">
                                    <i class="{{data.img}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <p><span class="text-{{data.iconColor}} me-1"><i class="{{data.icon}} fs-sm align-middle"></i>
                                    +{{data.num}} %</span> than last week</p>
                        </div>
                    </div>
                    <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="data.count"></span>{{data.label}}
                    </h4>
                    <p class="fw-medium text-muted mb-0">{{data.title}}</p>
                </div>
            </div>
        </div><!--end col-->
        }
    </div><!--end row-->

    <div class="row" id="ticketsList">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center g-2">
                        <div class="col-lg-3 me-auto">
                            <h6 class="card-title mb-0">Tickets List</h6>
                        </div><!--end col-->
                        <div class="col-lg-2 col-sm-4">
                            <div class="search-box">
                                <input type="text" class="form-control search" [(ngModel)]="term" (keyup)="filterdata()" placeholder="Search for tickets, date, client or something...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-auto">
                            <div class="hstack gap-2">
                                <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button>
                                <a href="javascript:void(0);" (click)="addNewCoupon()" class="btn btn-secondary"><i class="bi bi-plus-circle align-baseline me-1"></i> Add Coupon</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <div class="card-body mt-3">
                    <div class="table-responsive table-card">
                        <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="id" (click)="onSort('id')">CouponId</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="ticketTitle" (click)="onSort('ticketTitle')">Name of Coupon</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="ticketTitle" (click)="onSort('ticketTitle')">Name</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="clientName" (click)="onSort('clientName')">Percent Off</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="createDate" (click)="onSort('createDate')">Create Date</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="dueDate" (click)="onSort('dueDate')">End Date</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="priority" (click)="onSort('priority')">Duration</th>
                                    <th scope="col" class="sort cursor-pointer" ticketsortable="status" (click)="onSort('status')">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                @for (data of coupons?.results; track $index) {
                                <tr id="l_{{data.stripeCouponId}}">

                                    <td class="tickets_id"><a routerLink="/tickets/overview" class="fw-medium link-primary">#{{data.stripeCouponId}}</a></td>
                                    <td class="ticket_title">{{data.nameOfCoupon}}</td>
                                    <td class="ticket_title">{{data.object}}</td>
                                    <td class="client_name">{{data.percentOff}}</td>
                                    <td class="create_date">{{data.startDate}}</td>
                                    <td class="due_date">{{data.endDate}}</td>
                                    <td class="due_date">{{data.duration}}</td>
                                    <td class="status"><span class="badge" [ngClass]="{'bg-primary-subtle text-primary':data.status === 0,'bg-danger-subtle text-danger':data.status === 3}">{{data.status === 0 ? 'Active' : 'Not Active'}}</span>
                                    </td>
                                    <td>
                                        <ul class="d-flex gap-2 list-unstyled mb-0">
                                            <li>
                                                <a routerLink="/tickets/overview" tooltip="View Record" class="btn btn-subtle-primary btn-icon btn-sm "><i class="ph-eye"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" (click)="editList($index)" tooltip="Edit Record" class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i class="ph-pencil"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" (click)="editList($index)" tooltip="Add Promotion Code" class="btn btn-subtle-info btn-icon btn-sm edit-item-btn"><i class="ph-basketball-light"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" (click)="removeItem(data.stripeCouponId)" tooltip="Delete Record" class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i class="ph-trash"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                }
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                        <div class="noresult d-none">
                            <div class="text-center py-4">
                                <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">We've searched more than 6k+ tickets We did not find any tickets
                                    for you search.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4 pt-3" id="pagination-element">
                        <div class="col-sm">
                            <div class="text-muted text-center text-sm-start">
                                Showing <span class="fw-semibold">{{coupons?.results?.length}}</span> of <span class="fw-semibold">{{coupons?.rowCount}}</span> Results
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-auto mt-3 mt-sm-0">
                            <pagination class="pagination-wrap hstack justify-content-center gap-2" [totalItems]="coupons?.rowCount" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-hdnx-loading>


<div bsModal #addCoupons="bs-modal" class="modal fade" id="addCoupons">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="addTicketModalLabel">Add Coupon</h5>
                <button type="button" class="btn-close" (click)="addCoupon.hide()"></button>
            </div>

            <form (ngSubmit)="saveForCouponPromotion()" [formGroup]="listCouponForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="client-name-input" class="form-label">Name Of Coupon<span class="text-danger">*</span></label>
                                <input type="text" id="client-name-input" class="form-control" formControlName="nameOfCoupon" placeholder="Enter value of name of coupon" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="client-name-input" class="form-label">Percent Off (%)<span class="text-danger">*</span></label>
                                <input type="number" id="client-name-input" class="form-control" formControlName="percentOff" placeholder="Enter value of percent off for coupon" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="create-date-input" class="form-label">Start Date<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" mwlFlatpickr [altInput]="true" [convertModelValue]="true" dateFormat="m/d/Y" altFormat="m/d/Y" formControlName="startDate" id="create-date-input" placeholder="Create date" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="due-date-input" class="form-label">End Date<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" mwlFlatpickr [altInput]="true" [convertModelValue]="true" dateFormat="m/d/Y" altFormat="m/d/Y" formControlName="endDate" id="due-date-input" placeholder="End date" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="status-input" class="form-label">Status<span class="text-danger">*</span></label>

                                <select class="form-select" id="status-input" formControlName="status" data-choices data-choices-search-false>
                                    <option value="">Select Status</option>
                                    <option value="0">Active</option>
                                    <option value="3">UnComfirm</option>
                                </select>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="addCoupon.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add Coupon</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div>

<!-- deleteRecordModal -->
<div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">Are you sure ?</h4>
                        <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="deleteData(deleteId)">Yes, Delete It!</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /deleteRecordModal -->