<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Order Overview" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex align-items-center flex-wrap gap-3">
                <div class="flex-grow-1">
                    <p class="text-muted mb-2">Mã số đơn hàng</p>
                    <h6 class="fs-md mb-0">#HDNX{{purchaseOrderReview?.id}}</h6>
                </div>
                <div class="flex-shrink-0 text-end">
                    <h6 class="fs-md mb-2">{{purchaseOrderReview?.purchaseDate | date :'yyyy-mm-dd' }} <i class="bi bi-calendar4-event align-baseline ms-1"></i></h6>
                    <p class="text-muted mb-0">{{purchaseOrderReview?.purchaseDate | date :'h:mm a' }} <i class="bi bi-clock align-baseline ms-1"></i></p>
                </div>
                <div class="flex-shrink-0">
                    <a routerLink="/invoices/overview" class="btn btn-primary"><i class="ph-download-simple align-middle me-1"></i> Hoá đơn</a>
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-secondary">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Email học sinh</h6>
                    <p class="fw-medium fs-md mb-1">{{purchaseOrderReview?.user?.name}}</p>
                    <p class="text-muted mb-1">{{purchaseOrderReview?.user?.email}}</p>
                    <p class="text-muted mb-0">{{purchaseOrderReview?.user?.phone}}</p>
                </div>
                <div class="flex-shrink-0">
                    <img src="{{purchaseOrderReview?.user?.pictureUrl}}" alt="" class="avatar-sm rounded img-thumbnail">
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-primary">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Thông tin giao hàng</h6>
                    <p class="fw-medium fs-md mb-1">{{purchaseOrderReview?.user?.name}}</p>
                    <p class="text-muted mb-1">{{purchaseOrderReview?.user?.email}}</p>
                    <p class="text-muted mb-0">{{purchaseOrderReview?.user?.phone}}</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-primary-subtle text-primary fs-3 rounded">
                            <i class="ph-truck"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-info">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Thông tin hoá đơn</h6>
                    <p class="fw-medium fs-md mb-1">{{purchaseOrderReview?.user?.name}}</p>
                    <p class="text-muted mb-1">{{purchaseOrderReview?.user?.email}}</p>
                    <p class="text-muted mb-0">{{purchaseOrderReview?.user?.phone}}</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-info-subtle text-info fs-3 rounded">
                            <i class="ph-file-text"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-light">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Thông tin thanh toán</h6>
                    <p class="fw-medium fs-md mb-1">ID: #TBS{{purchaseOrderReview?.purcharseCode}}</p>
                    <p class="text-muted mb-1">Hình thức thanh toán: <b>Thanh toán bằng banking</b></p>
                    <p class="text-muted mb-0">Số thẻ: <b>xxxx xxxx xxxx 2456</b></p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-light text-body fs-3 rounded">
                            <i class="ph-currency-circle-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-header d-flex align-items-center gap-3">
                <h6 class="card-title mb-0 flex-grow-1">Thông tin khoá học</h6>
                <div class="flex-shrink-0" [hidden]="(purchaseOrderReview.nameStatus === 'Payment')">
                    <button type="button" class="btn btn-danger btn-sm me-1"><i class="ph-x align-middle"></i> Huỷ hoá đơn</button>
                    <button type="button" class="btn btn-info btn-sm me-1"><i class="ph ph-check-circle align-middle"></i> Hoàn tất đơn</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-borderless">
                        <thead class="table-active">
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tiền khoá học</th>
                                <th>Số lượng</th>
                                <th class="text-end">Giá tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of purchaseOrderReview?.listPurchaseCourseDetails">
                                <td>
                                    <div class="product-item d-flex align-items-center gap-2">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded">
                                                <img src="{{item?.courses?.pictureUrl}}" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md"><a routerLink="/ecommerce/product-details" class="text-reset">{{item?.courses?.title}}</a></h6>
                                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="text-reset">{{item?.courses?.categoryName}}</a></p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item?.courses?.amountOfTheCourse | currency}}</td>
                                <td>01</td>
                                <td class="fw-medium text-end">{{item?.courses?.amountOfTheCourse | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row gy-3">
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Ngày tạo đơn hàng</p>
                            <h6 class="fs-md mb-0">{{purchaseOrderReview?.createDate | date : 'yyyy-mm-dd'}}</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Ngày thanh toán</p>
                            <h6 class="fs-md mb-0">{{purchaseOrderReview?.purchaseDate | date : 'yyyy-mm-dd'}}</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Giá trị đơn hàng</p>
                            <h6 class="fs-md mb-0">{{purchaseOrderReview?.totalPrice | currency}}</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Trạng thái đơn hàng</p>
                            <span class="badge bg-danger-subtle text-danger mb-0">{{purchaseOrderReview?.nameStatus}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
    <div id="elmLoader">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xxl-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title mb-0">Tổng giá trị đơn hàng</h6>
                    </div>
                    <div class="card-body pt-4">
                        <div class="table-responsive table-card">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td>Tổng đơn hàng :</td>
                                        <td class="text-end">{{purchaseOrderReview?.totalPrice | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Khuyễn mãi <span class="text-muted">()</span> : :</td>
                                        <td class="text-end"></td>
                                    </tr>
                                    <tr>
                                        <td>Tiền giao hàng :</td>
                                        <td class="text-end">0</td>
                                    </tr>
                                    <tr>
                                        <td>Thuế GTGT :</td>
                                        <td class="text-end">0</td>
                                    </tr>
                                    <tr class="border-top border-top-dashed">
                                        <th scope="row">Tổng công (VND) :</th>
                                        <th class="text-end">{{purchaseOrderReview?.totalPrice | currency}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center flex-wrap gap-2">
                <h6 class="card-title flex-grow-1 mb-0">Trạng thái đơn hàng</h6>
                <div class="flex-shrink-0">
                    <button [hidden]="(purchaseOrderReview.nameStatus === 'Payment')" type="button" class="btn btn-info btn-sm me-1"><i class="ph ph-check-circle align-middle"></i> Hoàn tất đơn</button>
                    <button [hidden]="(purchaseOrderReview.nameStatus === 'Payment')" type="button" class="btn btn-danger btn-sm me-1"><i class="ph-x align-middle"></i>Huỷ đơn hàng</button>
                    <a routerLink="/invoices/overview" class="btn btn-primary btn-sm"><i class="ph-download-simple align-middle "></i> Hoá đơn</a>
                </div>
            </div>
            <div class="card-body">
                <div class="progress progress-step-arrow progress-info mb-4">
                    <a href="javascript:void(0);" class="progress-bar active" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><i class="ph-bag align-baseline me-1 d-none d-lg-inline-block"></i> Order Placed</a>
                    <a href="javascript:void(0);" class="progress-bar active d-none d-xxl-inline-block" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><i class="ph-package align-middle me-1"></i> Packed</a>
                    <a href="javascript:void(0);" class="progress-bar active d-none d-md-inline-block" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><i class="ph-truck align-baseline me-1 d-none d-lg-inline-block"></i>
                        Shipping</a>
                    <a href="javascript:void(0);" class="progress-bar active d-none d-md-inline-block" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><i class="ph-bicycle align-baseline me-1 d-none d-lg-inline-block"></i> Out For Delivery</a>
                    <a href="javascript:void(0);" class="progress-bar active d-none d-md-inline-block" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><i class="ph-house-line align-baseline me-1 d-none d-lg-inline-block"></i> Delivered</a>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->