<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Overview Course" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<app-hdnx-loading [show]="isLoading">
    <div class="row">
        <div class="col-xl-9 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="position-relative mb-3">
                        <div class="ratio ratio-16x9">
                            <div #artplayer></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-subtle-warning custom-toggle btn-icon btn-sm active float-end" data-bs-toggle="button" aria-pressed="true">
                        <span class="icon-on"><i class="bi bi-star"></i></span>
                        <span class="icon-off"><i class="bi bi-star-fill"></i></span>
                    </button>
                    <h4>{{courseAndDetailContent?.title}}</h4>
                    <ul class="list-unstyled hstack gap-2 flex-wrap mb-0">
                        <li><a href="javascript:void(0);" class="text-reset"><i class="bi bi-box-seam align-baseline me-1"></i> {{courseAndDetailContent?.categoryName}}</a></li>
                        <li class="text-warning">
                            <i class="bi bi-star-fill align-baseline"></i>
                            <i class="bi bi-star-fill align-baseline"></i>
                            <i class="bi bi-star-fill align-baseline"></i>
                            <i class="bi bi-star-fill align-baseline"></i>
                            <i class="bi bi-star-half align-baseline"></i>
                            <span class="text-body ms-1">4.5</span>
                        </li>
                        <li>
                            <span class="badge bg-success-subtle text-success">{{courseAndDetailContent?.levelCourse}}</span>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0 mx-0" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'description'" (click)="changeTab('description')" role="tab" aria-selected="true">
                                Description of the course
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'videoTutorials'" (click)="changeTab('videoTutorials')" role="tab" aria-selected="false" tabindex="-1">
                                Video of course
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'reviews'" (click)="changeTab('reviews')" role="tab" aria-selected="false" tabindex="-1">
                                Review
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'faqs'" (click)="changeTab('faqs')" role="tab" aria-selected="false" tabindex="-1">
                                FAQ
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'fileAttachments'" (click)="changeTab('fileAttachments')" role="tab" aria-selected="false" tabindex="-1">
                                Document (File Attachments)
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--end card-->
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div [hidden]="currentTab !== 'description'" class="tab-pane active" id="description" role="tabpanel">
                            <div [innerHTML]="courseAndDetailContent?.description"></div>
                        </div>
                        <div [hidden]="currentTab !== 'videoTutorials'" class="tab-pane active" id="videoTutorials" role="tabpanel">
                            <!-- START Accordions -->
                            <accordion class="accordion accordion-border-box  mt-3" [closeOthers]="true" id="accordionlefticon">
                                <accordion-group class="accordion-item" *ngFor="let content of courseAndDetailContent?.listContentCourseDetails">
                                    <h2 accordion-heading class="accordion-header" id="accordionlefticonExample{{content?.id}}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_lefticonExamplecollapse1" aria-expanded="true" aria-controls="accor_lefticonExamplecollapse1">
                                            {{content?.name}} <small class="ms-1 align-baseline">({{content.contentAndContentDetails.length}} chương)</small>
                                        </button>
                                    </h2>
                                    <div id="accor_lefticonExamplecollapse1" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <ul class="list-group list" id="id_course_content_overview">
                                                <li class="list-group-item list-group-item-action" [class.active]="detail.id === activeItemIndex" (click)="onClickContentCourse(detail.id)" *ngFor="let detail of content.contentAndContentDetails; let i = index">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 avatar-xs">
                                                            <div class="avatar-title rounded bg-danger-subtle text-danger">
                                                                <i [ngClass]="{'bi bi-play': detail.id === activeItemIndex, 'bi bi-stop-fill': detail.id !== activeItemIndex}"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-2">
                                                            <a href="javascript:void(0);" (click)="getDataOfContentDetails(detail.id)" class="stretched-link text-reset">{{detail.nameSubContent}}</a>
                                                        </div>
                                                        <div class="flex-shrink-0">
                                                            03:20 min
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                            <!-- END Accordions -->
                        </div>
                        <div [hidden]="currentTab !== 'reviews'" class="tab-pane active" id="reviews" role="tabpanel">
                            <div class="d-flex mt-3 flex-wrap align-items-center gap-3 mb-2">
                                <h6 class="card-title flex-grow-1 mb-0">Ratings & Reviews</h6>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-primary" (click)="addReview.show()"><i class="ph-plus-circle align-middle me-1"></i> Add
                                        Review</button>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-lg-2">
                                    <div class="text-center mt-3 mt-lg-5">
                                        <h1 class="mb-3">4.9 <small class="fs-sm text-muted fw-normal">/ 5.0</small></h1>
                                        <div class="text-warning hstack gap-2 justify-content-center mb-2">
                                            <i class="bi bi-star-fill align-baseline"></i>
                                            <i class="bi bi-star-fill align-baseline"></i>
                                            <i class="bi bi-star-fill align-baseline"></i>
                                            <i class="bi bi-star-fill align-baseline"></i>
                                            <i class="bi bi-star-fill align-baseline"></i>
                                        </div>
                                        <p class="mb-0"><b>3.5k</b> Reviews</p>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-10">
                                    <div>
                                        <ngx-simplebar class="me-lg-n3 pe-lg-4" style="max-height: 500px;">
                                            <ul class="list-unstyled mb-0" id="review-list">
                                                @for (data of reviewData; track $index) {
                                                <li class="review-list py-2" id="review-1">
                                                    <div class="border border-dashed rounded p-3">
                                                        <div class="hstack flex-wrap gap-3 mb-4">
                                                            <div class="badge rounded-pill bg-danger-subtle text-danger mb-0">
                                                                <i class="mdi mdi-star"></i> <span class="rate-num">{{data.rating}}</span>
                                                            </div>
                                                            <div class="vr"></div>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-0"><a href="javascript:void(0);">{{data.user}}</a></p>
                                                            </div>
                                                            <div class="flex-shrink-0">
                                                                <span class="text-muted fs-13 mb-0">{{data.date}}</span>
                                                            </div>
                                                            <div class="flex-shrink-0">
                                                                <a href="javascript:void(0);" class="badge bg-secondary-subtle text-secondary edit-item-list me-1" (click)="editReview($index)"><i class="ph-pencil align-baseline me-1"></i> Edit</a>
                                                                <a href="javascript:void(0);" class="badge bg-danger-subtle text-danger" (click)="removeReview($index)"><i class="ph-trash align-baseline"></i></a>
                                                            </div>
                                                        </div>

                                                        <h6 class="review-title fs-md">{{data.title}}</h6>
                                                        <p class="review-desc mb-0">{{data.content}}</p>
                                                        @if (data.profile) {
                                                        <div class="d-flex flex-grow-1 gap-2 mt-3">
                                                            @for (img of data.profile; track $index) {
                                                            <a href="javascript:void(0);" class="avatar-md">
                                                                <div class="avatar-title bg-light rounded">
                                                                    <img src="{{img}}" alt="img-1.png" class="product-img avatar-sm">
                                                                </div>
                                                            </a>
                                                            }
                                                        </div>
                                                        }
                                                    </div>
                                                </li>
                                                }
                                            </ul>
                                        </ngx-simplebar>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                        </div>
                        <div [hidden]="currentTab !== 'faqs'" class="tab-pane active" id="faqs" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What are good questions to ask about course?</h6>
                                            <p class="text-muted mb-0">What textbooks are required for the course? What
                                                days/times do class sessions occur or are they fully online? Are there any
                                                online platforms, programs, and/or softwares needed for the course? When are
                                                major assignments/ exams due for this course and what are its point values?
                                            </p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How does online learning work?</h6>
                                            <p class="text-muted mb-0">Distance learning is an educational process where
                                                students receive instruction through online classes, video recordings, video
                                                conferencing, or any other audio/visual technology medium.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">Why is online learning better?</h6>
                                            <p class="text-muted mb-0">Because online courses provide students with full
                                                control over their studies, they can work at their own pace. Pupils, on
                                                average, work faster and absorb more information in online courses than they
                                                would otherwise.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How successful is online learning?</h6>
                                            <p class="text-muted mb-0">Some students do as well in online courses as in
                                                in-person courses, some may actually do better, but, on average, students do
                                                worse in the online setting, and this is particularly true for students with
                                                weaker academic backgrounds.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How do you ask questions about learning?</h6>
                                            <p class="text-muted mb-0">Avoid asking leading questions, those that prompt or
                                                suggest the answer, and yes/no questions. If a yes/no question is warranted,
                                                be ready with a follow-up question to encourage students to critically
                                                evaluate the material and engage in discussion.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What are course objectives?</h6>
                                            <p class="text-muted mb-0">A course objective specifies a behavior, skill, or
                                                action that a student can demonstrate if they have achieved mastery of the
                                                objective.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What is the advantage of learning?</h6>
                                            <p class="text-muted mb-0">By consistently educating yourself and trying new
                                                things, you'll learn you're capable of change and growth, which keeps you
                                                open to new opportunities in life. “Learning a new skill can get you out of
                                                a rut.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                        <div [hidden]="currentTab !== 'fileAttachments'" class="tab-pane active" id="fileAttachments" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What are good questions to ask about course?</h6>
                                            <p class="text-muted mb-0">What textbooks are required for the course? What
                                                days/times do class sessions occur or are they fully online? Are there any
                                                online platforms, programs, and/or softwares needed for the course? When are
                                                major assignments/ exams due for this course and what are its point values?
                                            </p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How does online learning work?</h6>
                                            <p class="text-muted mb-0">Distance learning is an educational process where
                                                students receive instruction through online classes, video recordings, video
                                                conferencing, or any other audio/visual technology medium.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">Why is online learning better?</h6>
                                            <p class="text-muted mb-0">Because online courses provide students with full
                                                control over their studies, they can work at their own pace. Pupils, on
                                                average, work faster and absorb more information in online courses than they
                                                would otherwise.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How successful is online learning?</h6>
                                            <p class="text-muted mb-0">Some students do as well in online courses as in
                                                in-person courses, some may actually do better, but, on average, students do
                                                worse in the online setting, and this is particularly true for students with
                                                weaker academic backgrounds.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">How do you ask questions about learning?</h6>
                                            <p class="text-muted mb-0">Avoid asking leading questions, those that prompt or
                                                suggest the answer, and yes/no questions. If a yes/no question is warranted,
                                                be ready with a follow-up question to encourage students to critically
                                                evaluate the material and engage in discussion.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What are course objectives?</h6>
                                            <p class="text-muted mb-0">A course objective specifies a behavior, skill, or
                                                action that a student can demonstrate if they have achieved mastery of the
                                                objective.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="d-flex gap-2">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-question-circle text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="card-title">What is the advantage of learning?</h6>
                                            <p class="text-muted mb-0">By consistently educating yourself and trying new
                                                things, you'll learn you're capable of change and growth, which keeps you
                                                open to new opportunities in life. “Learning a new skill can get you out of
                                                a rut.</p>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-xl-3 col-lg-4">
            <div class="card overflow-hidden ribbon-box">
                <span class="ribbon ribbon-danger rounded-end">Off {{((courseAndDetailContent?.priceOfCourse - courseAndDetailContent?.priceOfDiscount)/ (courseAndDetailContent?.priceOfCourse))* 100 | number }}%</span>
                <div class="card-body bg-info-subtle text-center learning-widgets d-flex align-items-center justify-content-center">
                    <img src="{{courseAndDetailContent?.pictureUrl}}" alt="" class="avatar-lg">
                    <img src="{{courseAndDetailContent?.pictureUrl}}" alt="" class="effect">
                </div>
                <div class="card-body">
                    <h4 *ngIf="courseAndDetailContent.isDiscount" class="text-truncate text-capitalize">{{courseAndDetailContent?.priceOfDiscount | currency: 'VND':'symbol':'1.0-0' }} 
                        <small class="text-decoration-line-through fs-xs text-muted align-baseline">{{courseAndDetailContent?.priceOfCourse | currency: 'VND':'symbol':'1.0-0'}}</small>
                    </h4>
                    <h4 class="text-truncate text-capitalize">{{courseAndDetailContent?.priceOfCourse | currency: 'VND':'symbol':'1.0-0'}}</h4>
                    <div class="hstack gap-2">
                        <button class="btn btn-primary w-100" (click)="publicTheCourse()"><i class="bi bi-bag align-baseline me-1"></i>Publish</button>
                        <button class="btn btn-info w-100" (click)="goToEditCourse()"><i class="bi bi-bag align-baseline me-1"></i>Chỉnh sửa</button>
                    </div>
                </div>
            </div><!--end card-->
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title mb-0">{{courseAndDetailContent?.shortDescription}}</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <i class="ph ph-book-open align-middle me-1 text-primary-emphasis"></i>Number of the chapter
                                </div>
                                <div class="flex-shrink-0 text-muted">
                                    {{courseAndDetailContent?.totalChapter}}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <i class="ph ph-timer align-middle me-1 text-primary-emphasis"></i>Time of course
                                </div>
                                <div class="flex-shrink-0 text-muted">
                                    {{courseAndDetailContent?.duration}}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <i class="ph ph-chart-bar align-middle me-1 text-primary-emphasis"></i> Level
                                </div>
                                <div class="flex-shrink-0 text-muted">
                                    {{courseAndDetailContent?.levelCourse}}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <i class="bi bi-card-heading align-baseline me-1 text-primary-emphasis"></i> Certificate
                                </div>
                                <div class="flex-shrink-0 text-muted">
                                    Yes
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <i class="bi bi-repeat-1 align-baseline me-1 text-primary-emphasis"></i> Status
                                </div>
                                <div class="flex-shrink-0 text-muted">
                                    <span class="badge" [ngClass]="{'bg-info-subtle text-info': courseAndDetailContent?.processCourseName === 'Open', 'bg-danger-subtle text-danger': courseAndDetailContent?.processCourseName === 'Close', 'bg-success-subtle text-info': courseAndDetailContent?.processCourseName === 'Public'}">{{courseAndDetailContent?.processCourseName}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</app-hdnx-loading>


<div class="email-chat-detail" id="emailchat-detailElem">
    <div class="card mb-0 overflow-hidden">
        <div class="card-header align-items-center d-flex bg-primary-subtle text-primary p-3">
            <div class="flex-grow-1">
                <h5 class="fs-md text-primary-emphasis profile-username">Morton Satterfield</h5>
                <p class="mb-0 fs-sm lh-1">Active</p>
            </div>
            <div class="flex-shrink-0">
                <div class="mt-n1">
                    <button type="button" class="btn btn-link btn-icon btn-sm text-primary fs-lg text-decoration-none rounded-circle bg-primary-subtle bg-opacity-10" id="emailchat-btn-close" (click)="closeChatBox()"><i class="ri-close-fill"></i></button>
                </div>
            </div>
        </div><!-- end card header -->

        <div class="card-body p-0">
            <div id="users-chat">
                <ngx-simplebar class="chat-conversation p-3" id="chat-conversation" data-simplebar-track="light" style="height: 250px;">
                    <ul class="list-unstyled chat-conversation-list chat-sm" id="users-conversation">
                        <li class="chat-list left">
                            <div class="conversation-list">
                                <div class="chat-avatar">
                                    <img src="assets/images/users/48/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-chat-content">
                                    <div class="ctext-wrap">
                                        <div class="ctext-wrap-content">
                                            <p class="mb-0 ctext-content">Good morning 😊</p>
                                        </div>
                                        <div dropdown class="dropdown align-self-start message-box-drop">
                                            <a dropdownToggle class="dropdown-toggle" href="javascript:void(0);">
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <div *bsDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-reply-line me-2 text-muted align-bottom"></i>Reply</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-copy-line me-2 text-muted align-bottom"></i>Copy</a>
                                                <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 text-muted align-bottom"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-name"><small class="text-muted time">09:07 am</small> <span class="text-success check-message-icon"><i class="ri-check-double-line align-bottom"></i></span></div>
                                </div>
                            </div>
                        </li>
                        <!-- chat-list -->

                        <li class="chat-list right">
                            <div class="conversation-list">
                                <div class="user-chat-content">
                                    <div class="ctext-wrap">
                                        <div class="ctext-wrap-content">
                                            <p class="mb-0 ctext-content">Good morning, How are you? What about our next
                                                meeting?</p>
                                        </div>
                                        <div dropdown class="dropdown align-self-start message-box-drop">
                                            <a dropdownToggle class="dropdown-toggle" href="javascript:void(0);">
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <div *bsDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-reply-line me-2 text-muted align-bottom"></i>Reply</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-copy-line me-2 text-muted align-bottom"></i>Copy</a>
                                                <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 text-muted align-bottom"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-name"><small class="text-muted time">09:08 am</small> <span class="text-success check-message-icon"><i class="ri-check-double-line align-bottom"></i></span></div>
                                </div>
                            </div>
                        </li>
                        <!-- chat-list -->

                        <li class="chat-list left">
                            <div class="conversation-list">
                                <div class="chat-avatar">
                                    <img src="assets/images/users/48/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-chat-content">
                                    <div class="ctext-wrap">
                                        <div class="ctext-wrap-content">
                                            <p class="mb-0 ctext-content">Yeah everything is fine. Our next meeting
                                                tomorrow at 10.00 AM</p>
                                        </div>
                                        <div dropdown class="dropdown align-self-start message-box-drop">
                                            <a dropdownToggle class="dropdown-toggle" href="javascript:void(0);">
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <div *bsDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-reply-line me-2 text-muted align-bottom"></i>Reply</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-copy-line me-2 text-muted align-bottom"></i>Copy</a>
                                                <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 text-muted align-bottom"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-name"><small class="text-muted time">09:10 am</small> <span class="text-success check-message-icon"><i class="ri-check-double-line align-bottom"></i></span></div>
                                </div>
                            </div>
                        </li>
                        <!-- chat-list -->

                        <li class="chat-list right">
                            <div class="conversation-list">
                                <div class="user-chat-content">
                                    <div class="ctext-wrap">
                                        <div class="ctext-wrap-content">
                                            <p class="mb-0 ctext-content">Wow that's great</p>
                                        </div>
                                        <div dropdown class="dropdown align-self-start message-box-drop">
                                            <a dropdownToggle class="dropdown-toggle" href="javascript:void(0);">
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <div *bsDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-reply-line me-2 text-muted align-bottom"></i>Reply</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-copy-line me-2 text-muted align-bottom"></i>Copy</a>
                                                <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 text-muted align-bottom"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-name"><small class="text-muted time">09:12 am</small> <span class="text-success check-message-icon"><i class="ri-check-double-line align-bottom"></i></span></div>
                                </div>
                            </div>
                        </li>
                        <!-- chat-list -->
                    </ul>
                </ngx-simplebar>
            </div>

            <div class="border-top border-top-dashed">
                <div class="row g-2 mx-3 mt-2 mb-3">
                    <div class="col">
                        <div class="position-relative">
                            <input type="text" class="form-control border-light bg-light" placeholder="Enter Message...">
                        </div>
                    </div><!-- end col -->
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary"><i class="mdi mdi-send"></i></button>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
        </div><!-- end cardbody -->
    </div>
</div><!--END CHAT-->

<!-- addReview Modal -->
<div bsModal #addReview="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addReviewLabel">Add Review</h1>
                <button type="button" class="btn-close" id="review-close" (click)="addReview.hide()"></button>
            </div>
            <form [formGroup]="reviewForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">
                    <div class="mb-3">
                        <label class="form-label d-block">Select Review <span class="text-danger">*</span></label>
                        <div id="basic-rater" dir="ltr">
                            <rating style="color: #f6b749;font-size: 25px;" formControlName="rate" [max]="5" [readonly]="false"></rating>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="reviewTitle-input" class="form-label">Review Title <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="title" id="reviewTitle-input" placeholder="Title" required>
                    </div>
                    <div class="mb-3">
                        <label for="reviewDesc-input" class="form-label">Review <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="reviewDesc-input" formControlName="content" rows="4" placeholder="Enter review" required></textarea>
                    </div>
                    <div>
                        <label class="form-label">Product Images</label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Drop files here or click to upload.'" (success)="onUploadSuccess($event)"></dropzone>
                        @if (uploadedFiles) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                            @for (file of uploadedFiles; track $index) {
                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex flex-wrap gap-2 p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                @if (file.dataURL) {
                                                <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                                                }@else {
                                                <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                @if (file.name) { <h5 class="fs-md mb-1">{{ file.name }}</h5>}
                                                @if (file.size) { <p class="fs-sm text-muted mb-0">{{ file.size }}</p>}
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 ms-3">
                                            <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                        <!-- end dropzon-preview -->
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-ghost-danger" (click)="addReview.hide()"><i class="ph-x align-middle me-1"></i> Close</button>
                    <button type="submit" class="btn btn-primary">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- removeItemModal -->
<div bsModal #removeItemModal="bs-modal" id="removeItemModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="removeItemModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4 fs-base">
                        <h4 class="mb-1">Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this review ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeItemModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-product" (click)="deleteReview()">Yes,
                        Delete It!</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->